


.aboutus--section {
 
  width: 100%;
  min-height: 100vh;
  background-color: #e98074;
}

.aboutus--container {
  margin-top: 20px;
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 62px;
}

.aboutus--content-section {
  float: left;
  margin-top: 40px;
  width: 55%;
  font-family:  'Nunito,sans-serif'
}

.aboutus--image-section {
  float: right;
  width: 40%;
}

.aboutus--image-section img {
  width: 100%;
  height: auto;
  margin-top: 70px;
}



.aboutus--content h3 {
  margin-top: 20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}
.aboutus--author {
  font-weight: 600;
}

.aboutus--button {
  margin-top: 30px;
}

.aboutus--content p {
  margin-top: 30px;

  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.aboutus--button {
  margin-top: 30px;
}

.aboutus--button a {
  background-color: #ffffff;
  padding: 12px 40px;
  text-decoration: none;
  color: #3d3d3d;
  font-size: 25px;
  letter-spacing: 1.5px;
}


.aboutus--social {
  margin: 40px 40px;
  margin-left: 20%;
}
.aboutus--social a {
  color: #eae7dc;
  font-size: 25px;
  padding: 0px 10px;
  margin-left: 45px;
}
.aboutus--social i:hover {
  color: #8e8d8a;
}

@media screen and (max-width: 768px) {
  .aboutus--container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .aboutus--content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .aboutus--title {
    text-align: center;
    font-size: 19px;
    margin-bottom: 40px;
  }
  .aboutus--button {
    text-align: center;
  }
  .aboutus--button a {
    padding: 9px 30px;
  }
  .aboutus--social a {
    text-align: center;
  }
}
